<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Success</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/myStyle.css">

    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }

        tbody.collapse.in {
            display: table-row-group;
        }


        .table td.collapse.in {
            display: table-cell;
        }
    </style>
</head>
<body>
<div align="center">
    <h2>Account Registration Succeeded!</h2>
    <h2>Login Succeeded!</h2>
    <span>Account Holder Names :</span><span th:text="${account.accountHolderName}"></span><br/>
    <span>Account Number :</span><span th:text="${account.accountNumber}"></span><br/>
    <span>Account Type :</span><span th:text="${account.accountType}"></span><br/>
    <span>Balance :</span>R <span th:text="${account.balance}"></span><br/>
    <div th:if="${account.accountType =='Current Account'}">
        <span >Over Draft Amount :</span>R <span th:text="${account.overdraftAmount}"></span><br/>
        <span >Over Draft Balance :</span>R <span th:text="${account.overdraftBalance}"></span><br/>
    </div>
    <br/>
    <hr/>

    <hr/>
    <section class="my-5" id="accountActions">

        <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Account Actions</h2>
                <table class="center" >
                    <tr>
                        <td><h2><span class="badge" style="width:auto">WithDraw Money</span></h2></td>
                        <td> <button type="button" class="button" data-toggle="modal" data-target="#myModal1">
                            Click Me
                        </button></td>
                    </tr>
                    <tr>
                        <td><h2><span class="badge" style="width:auto">Deposit Money</span></h2></td>
                        <td> <button type="button" class="button" data-toggle="modal" data-target="#myModal2    ">
                            click Me
                        </button></td>
                    </tr>
                    <tr>
                        <td><h2><span class="badge" style="width:auto">Transfer Money</span></h2></td>
                        <td> <button type="button" class="button" data-toggle="modal" data-target="#myModal3">
                            Click Me
                        </button></td>
                    </tr>

                </table>
                <div>
                    <tr>
                       <h2><span class="badge" style="width:auto">Show Transaction History</span></h2>
                         <button type="button" class="button" data-toggle="collapse" data-target="#transactions">
                            Click Me
                        </button>

                        <div id="transactions" class="collapse">
                            <table  th:if="${ not#lists.isEmpty(account.transactionHistory)}" class="table table-bordered table-striped mb-0">
                                <thead class="thead-dark" >
                                <tr>
                                    <th scope="col">Transaction Date</th>
                                    <th scope="col">Account Number</th>
                                    <th scope="col">Transaction Type</th>
                                    <th scope="col">Transaction Amount</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="acc : ${account.transactionHistory}">
                                    <td th:text="${acc.insertDate}"></td>
                                    <td th:text="${acc.accountNumber}"></td>
                                    <td th:text="${acc.transactionType}"></td>
                                    <td th:text="${acc.amount}"></td>
                                </tr>
                                </tbody>
                            </table>

                            <h3 th:if="${ #lists.isEmpty(account.transactionHistory)}">No Transactions yet</h3>
                        </div>

                    </tr>
                </div>
            </div>
        </div>
    </div>
    </section>

    <!-- The Modal -->
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Withdraw Money</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form th:action="@{'/withdraw/?accountNumber='+${account.accountNumber}}"  method="post" th:object="${account}">

                        <div class="col-md-6">
                            <label for="accountNo" class="form-label">Account Number</label>
                            <input type="text" class="form-control" id="accountNo" placeholder="Account number" th:value="*{accountNumber}"  name="noRecords">
                        </div>
                        <div class="col-md-6">
                            <label for="loginpin" class="form-label">Password</label>
                            <input type="text" class="form-control" id="withdrawalAmount" placeholder="Passowrd" th:field="*{transactionAmount}"   name="noRecords">
                        </div>
                        <br/>
                        <div >
                            <button type="submit" class="btn btn-danger" >Withdraw</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Deposit Money</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form th:action="@{'/deposit/?accountNumber='+${account.accountNumber}}"  method="post" th:object="${account}">

                        <div class="col-md-6">
                            <label for="accountNo" class="form-label">Account Number</label>
                            <input type="text" class="form-control" id="accountNo" placeholder="Account number" th:value="*{accountNumber}"   name="noRecords">
                        </div>
                        <div class="col-md-6">
                            <label for="loginpin" class="form-label">Password</label>
                            <input type="text" class="form-control" id="loginpin" placeholder="Passowrd" th:field="*{transactionAmount}"   name="noRecords">
                        </div>
                        <br/>
                        <div >
                            <button type="submit" class="btn btn-primary">Deposit</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>


                    </form>
                </div>

                <!-- Modal footer -->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                <!--</div>-->

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Transfer Money</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form th:action="@{'/transfer/?senderAccountNumber='+${account.accountNumber}}"  method="post" th:object="${account}">

                        <div class="col-md-6">
                            <label for="accountNo" class="form-label">Account Number</label>
                            <input type="text" class="form-control" id="accountNo" placeholder="Account number" th:value="*{accountNumber}"   name="noRecords">
                        </div>

                        <div class="col-md-6">
                            <label for="accountNo" class="form-label">Receiver Account Number</label>
                            <!--<input type="text" class="form-control" id="accountNo" placeholder="Account number" th:field="*{receiverAccountNumber}"   name="noRecords">-->
                        </div>

                        <div class="col-md-6">
                            <label for="loginpin" class="form-label">Amount</label>
                            <input type="text" class="form-control" id="loginpin" placeholder="Passowrd" th:field="*{transactionAmount}"   name="noRecords">
                        </div>
                        <br/>
                        <div >
                            <button type="submit" class="btn btn-primary">Deposit</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>


                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>